<h3 mat-dialog-title>Add Parking Lot</h3>
<div mat-dialog-content>
    <form [formGroup]="parkingForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input formControlName="name" type="email" class="form-control" placeholder="Enter name" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Parking Spot</label>
          <input formControlName="numberOfSpots" type="number" class="form-control" placeholder="Enter number of spaces" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Latitude</label>
          <input formControlName="lat" type="number" class="form-control" placeholder="-26.18041816484279" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Longitude</label>
          <input formControlName="lon" type="number" class="form-control" placeholder="28.04933787358404" id="exampleInputPassword1">
        </div>
        <hr>
        <span class="h3">Pricings</span>
        <button (click)="addPricings()" class="text-success ml-2" mat-flat-button>
          Add
          <span class="material-icons ">add</span>
        </button>
        <div class="mt-3">
          <div *ngFor="let pricing of pricings; let i=index" class="mt-2">
            <span class="badge badge-primary">{{pricing.duration}}</span>
            <span class="ml-3 badge badge-dark text-light" >{{pricing.price | currency: 'R'}}</span>
            <button (click)="deletePrice(i)" mat-icon-button> <span class="material-icons text-danger">
              remove_circle
              </span>
            </button>
          </div>
        </div>
      </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button (click)="createParkingLot()" mat-button  class="text-primary">
    <span *ngIf="!isLoading">Save</span>
    <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    </button>
</div>